:root { 
  font-size: calc(100vw / 1280 * 10);
}

html,
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  color: white;
  font-family: 'GT America';
}


/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: 100vh;
  }
}

@include sm {
  :root {
    font-size: calc(100vw / 375 * 10);
  }
}