.project-list {
    position: absolute;
    top: 0;

    display: none;
    height: 100%; 
    
    margin-left: 5.2rem;
    overflow: scroll;

    transform: translateY(100px);

    &-container {
        padding-top: 10vh;

        p {
            width: fit-content;
            margin: 2rem 0;

            color: transparent;

            font-weight: 600;
            font-size: 12rem;

            letter-spacing: -0.2rem;
            text-transform: uppercase;

            transition: .3s;
            -webkit-text-stroke: 1px white;

            &:first-of-type {
                max-width: 0;
            }

            &:hover {

                color: white;

                letter-spacing: .6rem;

                cursor: pointer;
                -webkit-text-stroke: none;
            }
        }
    }
}

@include md { 
    .project-list {
        align-items: flex-end;
        margin-left: 0;

        &-container {

            p {
                margin: 1.25rem 0;
 
                font-size: 3.6rem;

                &:hover {
                    letter-spacing: .1rem;
                }

                &:last-of-type {
                    margin-bottom: 3.2rem;
                }
            }
        }
    }
}